<div class="row">
  <div class="col-sm-12">
    <div class="introHeader">
      <div class="slideText">
        <h1>Hack4Charity</h1>
        <p>Team4</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <select (change)="onChange($event.target.value)" class="selectpicker">
      <option *ngFor="let p of parties">{{p.name}}</option>
    </select>
    <select (change)="onChangeEth($event.target.value)" class="selectpicker">
      <option *ngFor="let e of ethnicity">{{e.name}}</option>
    </select>
    <br/>
    <br/>
  </div>
</div>
<div class="row">
  <div class="col-sm-3" *ngFor="let MP of allMPs">
    <img src="{{MP.image}}" style="max-height:100px">
    <ul style="list-style-type: none; margin: 0; padding: 0;">
      <li>name: {{MP.name}}</li>
      <li>dob: {{MP.dob}}</li>
      <li>party: {{MP.party}}</li>
      <li>twitter: {{MP.twitterUsername}}</li>
    </ul>
    <br/>
  </div>
</div>
<!--<div class="row" style="margin-top:15px">-->
  <!--<div class="col-sm-4">-->
    <!--<a>-->
      <!--<h3>Idea</h3>-->
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac lacus massa. Nunc euismod tincidunt lorem, et porttitor orci finibus ac.-->
        <!--In nulla orci, fringilla at semper eget, congue sed eros. Proin eros dolor, rutrum vel mauris eu, commodo luctus neque.-->
        <!--Duis semper turpis tellus, in venenatis nibh porttitor at.</p>-->
    <!--</a>-->
  <!--</div>-->
  <!--<div class="col-sm-4">-->
    <!--<a>-->
      <!--<h3>Process</h3>-->
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac lacus massa. Nunc euismod tincidunt lorem, et porttitor orci finibus ac.-->
        <!--In nulla orci, fringilla at semper eget, congue sed eros. Proin eros dolor, rutrum vel mauris eu, commodo luctus neque.-->
        <!--Duis semper turpis tellus, in venenatis nibh porttitor at.</p>-->
    <!--</a>-->
  <!--</div>-->
  <!--<div class="col-sm-4">-->
    <!--<a>-->
      <!--<h3>Result</h3>-->
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac lacus massa. Nunc euismod tincidunt lorem, et porttitor orci finibus ac.-->
        <!--In nulla orci, fringilla at semper eget, congue sed eros. Proin eros dolor, rutrum vel mauris eu, commodo luctus neque.-->
        <!--Duis semper turpis tellus, in venenatis nibh porttitor at.</p>-->
    <!--</a>-->
  <!--</div>-->
<!--</div>-->
